.signin {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgba(19, 100, 73, 0.37);
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 50vw;
  top: 50px;
  right: 25%;
  left: 25%;
}